table.tasty-grid {
    margin: 5px 0 0 0;
}

table.tasty-grid, table.tasty-grid th, table.tasty-grid td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.tasty-grid th {
    background-color: darkgrey;
    cursor: pointer;
}

table.tasty-grid th, table.tasty-grid td {
    padding: 4px;
}

.main-container {
    margin: 40px;
}

input.tasty-grid-per-page {
    margin: 0 0 0 5px;
}

.current-page {
    font-weight: 900;
    font-size: 140%;
    cursor: default;
}

td.page-button:not(.current-page):hover {
    font-size: 160%;
    cursor: pointer;
}

.tasty-grid-output-results-info {
    font-size: 85%;
}

.tasty-grid-results-control-panel {
    display: flex;
    justify-content: space-between;
}

.tasty-grid-delete-item-button {
    cursor: pointer;
}

.tasty-grid-sort-filter-panel {
    font-size: 95%;
}
