table.grid {
    margin: 5px 0 0 0;
}

table.grid, table.grid th, table.grid td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.grid th, table.grid td {
    padding: 4px;
}

.main-container {
    margin: 40px;
}

input.grid-per-page {
    margin: 0 0 0 5px;
}

.current-page {
    font-weight: 900;
    font-size: 140%;
    cursor: default;
}

td.page-button {
}

td.page-button:not(.current-page):hover {
    font-size: 160%;
    cursor: pointer;
}
